.super-cabecera{
  position:relative;
}
.super-cabecera nav{
  position:relative;
  width:80%;
  max-width:1000px;
  margin:0 auto;
}
.super-cabecera nav ul{
  margin:0;
  padding:0;
  list-style:none;
}
.super-cabecera nav ul li{
  position:relative;
  display:inline-block;
  vertical-align:top;
  width:20%;
}
.super-cabecera nav ul li a{
  text-decoration:none;
  color:#333;
}

.super-cabecera nav ul li span.borde{
  display:block;
  height:4px;
  background-color:#F48024;
}
.super-cabecera nav ul li span.texto{
  display:block;
  height:40px;
  line-height:40px;
  text-align:center;
  background-color:#CCC;
}